body {
  font-family: sans-serif;
  padding: 1em 3em;
  background-color: rgb(105, 128, 121);
}

.center-text {
  text-align: center;
}

.box {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(214, 204, 190);
  padding: 2rem;
  border-radius: 15px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.button1,
.button2,
.button3,
.button4 {
  background-color: rgb(237, 156, 50);
  max-width: 8rem;
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  border-radius: 15px;
  text-align: center;
}


